/**************************/
/* GENERAL  SETTING */
/**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

body {
  /* 10px  / 16px  * 100  = 62.5% */
  font-weight: 400;
  line-height: 1;
  background: linear-gradient(to left, #ff922b, #ffc078);
}

/**************************/
/* STYLES */
/**************************/
.container {
  width: 30rem;
  height: 35rem;

  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 11px;
  padding-bottom: 5rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.13);
}

.container.country {
  opacity: 0;
  width: 30rem;
  height: 45rem;
  margin-top: 15rem;
  /* padding: 0 2.4rem; */
  overflow: hidden;
  /* background-color: aquamarine; */
}

.container.country.active {
  opacity: 1;
  transition: all 1.1s ease-in-out;
}

.container.country.active:nth-last-of-type(1) {
  margin-top: 22rem;
}

.image {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 10rem;
  justify-content: center;
  align-items: stretch;
}

.name,
.population,
.currencies,
.borders,
.nameN,
.populationN,
.currenciesN,
.bordersN {
  text-align: center;
  margin-top: 1rem;
  /* font-size: 1.8rem; */
  line-height: 1.7;
  font-weight: 600;
  color: #444;
}

.data {
  font-size: 1.8rem;
  font-weight: 600;
}

.bordersData span,
.bordersDataN span {
  font-size: 1.8rem;
  margin-left: 1rem;
  cursor: pointer;
  color: #222;
  transition: all 0.3s;
}

.bordersData span:hover,
.bordersDataN span:hover {
  color: aqua;
}

.app-title {
  width: 30rem;
  height: 5rem;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding: 1.5rem;
  margin: 0 auto;
  color: #19130c;
  margin-bottom: 1.6rem;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  font-size: 1.8rem;
  color: #721c24;
  margin-bottom: 0;
  text-align: center;
  padding: 1rem 0;
}

.weather-container {
  width: 30rem;
  height: 26rem;
  background-color: #eee;
}

.weather-icon {
  width: 30rem;
  height: 12.8rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;

  font-size: 12rem;
  margin: 0 auto;
}

.temperature-value {
  width: 30rem;
  height: 6rem;
}
.temperature-value p {
  padding: 0;
  margin: 0;
  color: #19130c;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.temperature-value span {
  color: #19130c;
  font-size: 2rem;
  padding-left: 0.8rem;
}

.temperature-value p {
  padding: 0.8rem;
}

.temperature-description p {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.8rem;
  margin: 0;
  text-align: center;
  color: #19130c;
}

.location p {
  margin: 0;
  padding: 0;
  color: #19130c;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

/**************************/
/* GENERAL  COMPONENT STYLES */
/**************************/

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/*  
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-font-family:
  font-family: 'Inter', sans-serif; 400 600 700 900

- Body 
- Font size (paragraph): 16px

- Font weights
Default: 400
Medium: 600
Semi-bold: 700
very-Bold: 900

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
### Primary
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;

### Accent
-none

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Icons

We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)

*/ ;
